In [ ]:
import pandas as pd

In [ ]:
bookings_df1 = """
503200025365
503200025390
503200025390
503200025403
503200025705
503200025705
503200025845""".split()

bookings_df2 = """
503200025365
503200025390.0
503200025390
503200025403
503200025403
503200025403
503200025705
503200025705
""".split()

containers_df2 ="""
DFSU6896599
EISU9363352
TGBU6778406
EGHU1003711
EGHU1019723
RTYH1256789
QWER1234567
TYUI2536890
""".split()

nwt = """
9990
8344
14692
14040
11520
12850
12720
""".split()
nwt2 = """
13.79
12.22
18.39
17.67
15.15
16.47
""".split()

In [ ]:
df1 = pd.DataFrame({'BOOKING': bookings_df1})
df2 = pd.DataFrame({'BOOKING': bookings_df2})

df_concat = pd.concat([df1, df2])
booking_array = df_concat['BOOKING'].unique()

START

In [1]:
import xlwings as xw
import pandas as pd

def egl_si():
    file_path = r"docs\si\RDX1 005S SEGOT.xlsm"
    df = pd.read_excel(file_path, sheet_name='Output', header=8, usecols=("A,C,E,I:K"))
    df = df.rename(columns={
        '  CONTAINER NO. '      : 'CONTAINER',
        ' PACKAGE'              : 'PACKAGES',
        '    GWT '              : 'NET WEIGHT',
        '    B/L NO.  '         : 'BOOKING NUMBER',
        ' MRN No / Q-status '   : 'MRN',
        ' PARTNER'              : 'MLO'
        })
    df = df.drop(index=0)
    df = df.dropna(axis='index', how='all')
    df[['CONTAINER', 'ISO TYPE']] = df['CONTAINER'].str.split(expand=True)
    df['BOOKING NUMBER'] = df['BOOKING NUMBER'].str.replace(' ', '')
    df.loc[:,'BOOKING NUMBER'] = df['BOOKING NUMBER'].astype(str).replace(r'\.0*', '')
    df = df.reset_index(drop=True)
    df = df.sort_values('BOOKING NUMBER')
    return df

def load_df():
    wb = xw.Book(r"docs\0114_Bokningsblad_ANINA_23004_SEGOT-ursprunglig.xlsb")
    sheet = wb.sheets('INFO')
    data_table = sheet.range('A4').expand()
    df = sheet.range(data_table).options(pd.DataFrame, index=False, header=True).value
    df = df.loc[(df.MLO == 'EVER') & (df['LOAD STATUS'] != 'MT'), :]
    df = df[['BOOKING NUMBER', 'MLO', 'CONTAINER', 'ISO TYPE', 'NET WEIGHT', 'LOAD STATUS', 'VGM', 'OOG', 'REMARK', 'IMDG', 'UNNR', 'MRN', 'TEMP', 'PACKAGES']]
    df = pd.DataFrame(df)
    df['BOOKING NUMBER'] = df['BOOKING NUMBER'].astype(str)
    df['BOOKING NUMBER'] = df['BOOKING NUMBER'].str.replace('.0', '', regex=False)
    df.insert(0, 'COMMENT', 'Bokningsblad')
    df.loc[:,'BOOKING NUMBER'] = df['BOOKING NUMBER'].astype(str).replace('.0', '', regex=False)
    df['MLO'] = None
    df['CONTAINER'] = None
    df['ISO TYPE'] = None
    df['NET WEIGHT'] = None
    df['COMMENT'] = "Bokningsblad"
    df = df.sort_values('BOOKING NUMBER').reset_index()
    
    return df

In [2]:
df1 = load_df()
df2 = egl_si()

#df1 = df1.rename(columns={'BOOKING NUMBER': 'BOOKING'})
#df1['BOOKING'] = df1['BOOKING'].astype(str)
#df1['BOOKING'] = df1['BOOKING'].str.replace('.0', '', regex=False)

df_concat = pd.concat([df1, df2])
booking_array = df_concat['BOOKING NUMBER'].unique()

#df1['COMMENT'] = "Bokningsblad"

Output

In [3]:
def booking_count(df1: pd.DataFrame, df2: pd.DataFrame, booking: str) -> int:
    df1_count, df2_count = 0, 0

    if booking in df1['BOOKING NUMBER'].values:
        df1_count = df1['BOOKING NUMBER'].value_counts()[booking]
    if booking in df2['BOOKING NUMBER'].values:
        df2_count = df2['BOOKING NUMBER'].value_counts()[booking]
        
    return max(df1_count, df2_count)

In [4]:

string = ""
string += ''.join(f'{booking},' * booking_count(df1, df2, booking) for booking in booking_array)

booking_list = ""
booking_list = string.split(',')

booking_list.pop()

df4 = pd.DataFrame(columns=df1.columns)
df4['BOOKING NUMBER'] = booking_list

In [ ]:
len(booking_list)

In [ ]:
booking_list

In [ ]:
df4

In [ ]:
booking_array

In [ ]:
df2

In [ ]:
df4

In [ ]:
df1

In [ ]:
df4['BOOKING NUMBER'] == df1['BOOKING NUMBER'][3]

In [ ]:
df2.columns.drop('BOOKING NUMBER')

In [13]:
counter_df1 = 0
counter_df2 = 0
df1_cols = df1.columns
df2_cols = df2.columns.drop('BOOKING NUMBER')

for num, booking in enumerate(df4['BOOKING NUMBER']):
    print(f"{num} {booking} df1: {df1['BOOKING NUMBER'][counter_df1]}/ {counter_df1} df2: {df2['BOOKING NUMBER'][counter_df2]}/ {counter_df2}")
    if not counter_df1 == len(df1):
        if booking == df1['BOOKING NUMBER'][counter_df1]:
            df4.loc[num, 'COMMENT'] = df1['COMMENT'][counter_df1]
            counter_df1 += 1

    if not counter_df2 == len(df2):
        if booking == df2['BOOKING NUMBER'][counter_df2]:
            df4.loc[num, df2_cols] = df2.loc[counter_df2, df2_cols]
            counter_df2 += 1


df4.to_excel('test.xlsx')

0 503200025365 df1: 503200025365/ 0 df2: 503200025365/ 0
1 503200025390 df1: 503200025390/ 1 df2: 503200025390/ 1
2 503200025390 df1: 503200025390/ 2 df2: 503200025390/ 2
3 5032000254009 df1: 5032000254009/ 3 df2: 503200025403/ 3
4 5032000254012 df1: 5032000254012/ 4 df2: 503200025403/ 3
5 503200025403 df1: 503200025403/ 5 df2: 503200025403/ 3
6 503200025403 df1: 503200025403/ 6 df2: 503200025403/ 4
7 503200025403 df1: 503200025403/ 7 df2: 503200025403/ 5
8 503200025403 df1: 503200025403/ 8 df2: 503200025403/ 6
9 503200025403 df1: 503200025403/ 9 df2: 503200025403/ 7
10 503200025403 df1: 503200025403/ 10 df2: 503200025403/ 8
11 503200025403 df1: 503200025403/ 11 df2: 503200025403/ 9
12 503200025403 df1: 503200025705/ 12 df2: 503200025403/ 10
13 503200025403 df1: 503200025705/ 12 df2: 503200025403/ 11
14 503200025403 df1: 503200025705/ 12 df2: 503200025403/ 12
15 503200025705 df1: 503200025705/ 12 df2: 503200025705/ 13
16 503200025705 df1: 503200025705/ 13 df2: 503200025705/ 14
17 503200025705 df1: 503200025705/ 14 df2: 503200025705/ 15
18 503200025705 df1: 503200025705/ 15 df2: 503200025705/ 16
19 503200025705 df1: 503200025705/ 16 df2: 503200025705/ 17
20 503200025705 df1: 503200025705/ 17 df2: 503200025705/ 18
21 503200025705 df1: 503200025705/ 18 df2: 503200025705/ 19
22 503200025705 df1: 503200025705/ 19 df2: 503200025705/ 20
23 503200025845 df1: 503200025845/ 20 df2: 503200025845/ 21
24 503200025896 df1: 503200025896/ 21 df2: 503200025896/ 22
25 503200026001 df1: 503200026001/ 22 df2: 503200026001/ 23
26 503200026001 df1: 503200026001/ 23 df2: 503200026001/ 24
27 503200026001 df1: 503200026001/ 24 df2: 503200026001/ 25
28 503200026248 df1: 503200026248/ 25 df2: 503200026248/ 26
29 503200026256 df1: 503200026256/ 26 df2: 503200026256/ 27
30 503200026281 df1: 503200026281/ 27 df2: 503200026281/ 28
31 503200026302 df1: 503200026302/ 28 df2: 503200026302/ 29
32 503200026302 df1: 503200026302/ 29 df2: 503200026302/ 30
33 503200026302 df1: 503200026302/ 30 df2: 503200026302/ 31
34 503200026302 df1: 503200026302/ 31 df2: 503200026302/ 32
35 503200026302 df1: 503200026302/ 32 df2: 503200026302/ 33
36 503200026302 df1: 503200026311/ 33 df2: 503200026302/ 34
37 503200026302 df1: 503200026311/ 33 df2: 503200026302/ 35
38 503200026302 df1: 503200026311/ 33 df2: 503200026302/ 36
39 503200026311 df1: 503200026311/ 33 df2: 503200026311/ 37
40 503200026311 df1: 503200026311/ 34 df2: 503200026311/ 38
41 503200026345 df1: 503200026345/ 35 df2: 503200026345/ 39
42 503300000054 df1: 503300000054/ 36 df2: 503300000054/ 40
43 503300000054 df1: 503300000054/ 37 df2: 503300000054/ 41
44 503300000054 df1: 503300000054/ 38 df2: 503300000054/ 42
45 503300000071 df1: 503300000071/ 39 df2: 503300000071/ 43
46 503300000119 df1: 503300000119/ 40 df2: 503300000119/ 44
47 503300000119 df1: 503300000119/ 41 df2: 503300000119/ 45
48 503300000119 df1: 503300000119/ 42 df2: 503300000119/ 46
49 503300000186 df1: 503300000186/ 43 df2: 503300000186/ 47
50 503300000186 df1: 503300000186/ 44 df2: 503300000186/ 48
51 503300000186 df1: 503300000186/ 45 df2: 503300000186/ 49
52 503300000186 df1: 503300000186/ 46 df2: 503300000186/ 50
53 503300000186 df1: 503300000186/ 47 df2: 503300000186/ 51
54 503300000186 df1: 503300000186/ 48 df2: 503300000186/ 52
55 503300000186 df1: 503300000186/ 49 df2: 503300000186/ 53
56 503300000186 df1: 503300000186/ 50 df2: 503300000186/ 54
57 503300000186 df1: 503300000186/ 51 df2: 503300000186/ 55
58 503300000186 df1: 503300000186/ 52 df2: 503300000186/ 56
59 503300000186 df1: 503300000186/ 53 df2: 503300000186/ 57
60 503300000186 df1: 503300000186/ 54 df2: 503300000186/ 58
61 503300000186 df1: 503300000186/ 55 df2: 503300000186/ 59
62 503300000186 df1: 503300000186/ 56 df2: 503300000186/ 60
63 503300000186 df1: 503300000186/ 57 df2: 503300000186/ 61
64 503300000186 df1: 503300000186/ 58 df2: 503300000186/ 62
65 503300000186 df1: 503300000186/ 59 df2: 503300000186/ 63
66 503300000186 df1: 503300000186/ 60 df2: 503300000186/ 64
67 503300000186 df1: 503300000186/ 61 df2: 503300000186/ 65
68 503300000186 df1: 503300000186/ 62 df2: 503300000186/ 66
69 503300000640 df1: 503300000640/ 63 df2: 503300000640/ 67
70 503300000674 df1: 503300000674/ 64 df2: 503300000674/ 68
71 503300000674 df1: 503300000674/ 65 df2: 503300000674/ 69
72 503300000674 df1: 503300000674/ 66 df2: 503300000674/ 70
73 503300000674 df1: 503300000674/ 67 df2: 503300000674/ 71
74 503300000674 df1: 503300000674/ 68 df2: 503300000674/ 72
75 503300000712 df1: 503300000712/ 69 df2: 503300000712/ 73
76 510300002157 df1: 510300002157/ 70 df2: 510300002157/ 74

In [15]:
pd.DataFrame({'BOOKING': {'503300000674': ['EMCU8909929', 'TLLU4025385', 'TGBU4276667'], '503300000186': ['TGBU6778406', 'EGHU1003711']}})

                                              BOOKING
503300000186               [TGBU6778406, EGHU1003711]
503300000674  [EMCU8909929, TLLU4025385, TGBU4276667]