In [ ]:
import pandas as pd

In [ ]:
bookings_df1 = """
503200025365
503200025390
503200025390
503200025403
503200025705
503200025705
503200025845""".split()

bookings_df2 = """
503200025365
503200025390.0
503200025390
503200025403
503200025403
503200025403
503200025705
503200025705
""".split()

containers_df2 ="""
DFSU6896599
EISU9363352
TGBU6778406
EGHU1003711
EGHU1019723
RTYH1256789
QWER1234567
TYUI2536890
""".split()

nwt = """
9990
8344
14692
14040
11520
12850
12720
""".split()
nwt2 = """
13.79
12.22
18.39
17.67
15.15
16.47
""".split()

In [ ]:
df1 = pd.DataFrame({'BOOKING': bookings_df1})
df2 = pd.DataFrame({'BOOKING': bookings_df2})

df_concat = pd.concat([df1, df2])
booking_array = df_concat['BOOKING'].unique()

START

In [8]:
import xlwings as xw
import pandas as pd

def egl_si():
    file_path = r"docs\si\RDX1 005S SEGOT.xlsm"
    df = pd.read_excel(file_path, sheet_name='Output', header=8, usecols=("A,C,E,I:K"))
    df = df.rename(columns={
        '  CONTAINER NO. '      : 'CONTAINER',
        ' PACKAGE'              : 'PACKAGES',
        '    GWT '              : 'NET WEIGHT',
        '    B/L NO.  '         : 'BOOKING NUMBER',
        ' MRN No / Q-status '   : 'MRN',
        ' PARTNER'              : 'MLO'
        })
    df = df.drop(index=0)
    df = df.dropna(axis='index', how='all')
    df[['CONTAINER', 'ISO TYPE']] = df['CONTAINER'].str.split(expand=True)
    df['BOOKING NUMBER'] = df['BOOKING NUMBER'].str.replace(' ', '')
    df.loc[:,'BOOKING NUMBER'] = df['BOOKING NUMBER'].astype(str).replace(r'\.0*', '')
    df = df.reset_index(drop=True)
    df = df.sort_values('BOOKING NUMBER').reset_index(drop=True)
    return df

In [9]:
df1 = load_df()
df2 = egl_si()

#df1 = df1.rename(columns={'BOOKING NUMBER': 'BOOKING'})
#df1['BOOKING'] = df1['BOOKING'].astype(str)
#df1['BOOKING'] = df1['BOOKING'].str.replace('.0', '', regex=False)

df_concat = pd.concat([df1, df2])
booking_array = df_concat['BOOKING NUMBER'].unique()

#df1['COMMENT'] = "Bokningsblad"

Output

In [10]:
df2

      CONTAINER PACKAGES NET WEIGHT BOOKING NUMBER  MRN MLO ISO TYPE
0   DFSU6896599       16       9990   503200025365  NaN   M      4SH
1   EISU9363352      252       8344   503200025390  NaN   M      4SH
2   TGBU6778406     3092      14692   503200025390  NaN   M      4SH
3   EGHU1003711     2302      14040   503200025403  NaN   M      4SD
4   EGHU1019723      376      11520   503200025403  NaN   M      4SD
..          ...      ...        ...            ...  ...  ..      ...
70  EISU2351998       27      27820   503300000674  NaN   E      2SD
71  EITU0016823       27      27760   503300000674  NaN   E      2SD
72  EMCU3954397       27      27900   503300000674  NaN   E      2SD
73  EGHU9825108       11       5700   503300000712  NaN   E      4SH
74  EISU1833803      828      21280   510300002157  NaN   E      4SD

[75 rows x 7 columns]

In [5]:
def booking_count(df1: pd.DataFrame, df2: pd.DataFrame, booking: str) -> int:
    df1_count, df2_count = 0, 0

    if booking in df1['BOOKING NUMBER'].values:
        df1_count = df1['BOOKING NUMBER'].value_counts()[booking]
    if booking in df2['BOOKING NUMBER'].values:
        df2_count = df2['BOOKING NUMBER'].value_counts()[booking]
        
    return max(df1_count, df2_count)

In [6]:

string = ""
string += ''.join(f'{booking},' * booking_count(df1, df2, booking) for booking in booking_array)

booking_list = ""
booking_list = string.split(',')

booking_list.pop()

df4 = pd.DataFrame(columns=df1.columns)
df4['BOOKING NUMBER'] = booking_list

In [7]:
counter_df1 = 0
counter_df2 = 0
df1_cols = df1.columns
df2_cols = df2.columns.drop('BOOKING NUMBER')

for num, booking in enumerate(df4['BOOKING NUMBER']):
    
    if not counter_df1 == len(df1):
        if booking == df1['BOOKING NUMBER'][counter_df1]:
            df4['COMMENT'][num] = df1['COMMENT'][counter_df1]
            counter_df1 += 1

    if not counter_df2 == len(df2):
        if booking == df2['BOOKING NUMBER'][counter_df2]:
            df4['CONTAINER'][num] = df2['CONTAINER'][counter_df2]
            df4['PACKAGES'][num] = df2['PACKAGES'][counter_df2]
            df4['NET WEIGHT'][num] = df2['NET WEIGHT'][counter_df2]
            df4['MRN'][num] = df2['MRN'][counter_df2]
            df4['MLO'][num] = df2['MLO'][counter_df2]
            counter_df2 += 1


df4.to_excel('test.xlsx')

In [ ]:
pd.DataFrame({'BOOKING': {'503300000674': ['EMCU8909929', 'TLLU4025385', 'TGBU4276667'], '503300000186': ['TGBU6778406', 'EGHU1003711']}})

In [ ]:
df1 = pd.DataFrame({'A': ['509', '509', '113'], 'B': ['TYU', 'TRU', 'OUI'], 'C': [2, 5, 9]})
df2 = pd.DataFrame({'A': ['509', '509', '111'], 'AB': ['LA', 'LA', 'LA'] })

#result = pd.DataFrame({'A': ['111', '113', '509', '509'], 'B': [None, 'OUI', 'TRU', 'TYU'], 'C': [None, 9, 5, 2], 'AB': ['LA', None, 'LA', 'LA']})

In [ ]:
result = df1.set_index('BOOKING NUMBER').merge(df2.set_index('BOOKING NUMBER'), on='BOOKING NUMBER', how='outer')

In [ ]:
df1.columns

In [ ]:
result = df1.set_index('BOOKING NUMBER').merge(df2.set_index('BOOKING NUMBER'), on='BOOKING NUMBER', how='outer')

In [ ]:
result.to_excel('test2.xlsx')

In [ ]:
result = df1.set_index('A').merge(df2.set_index('A'), on='A', how='outer')

In [ ]:
result = df1.merge(df2, on='A').groupby('A')['A'].agg('count').max()

In [ ]:
df1 = df1[['COMMENT', 'BOOKING NUMBER']]

In [ ]:
result

In [ ]:
result = pd.concat([df1, df2]).reset_index().groupby(['A'], as_index=False).agg({'B': ', '.join, 'C': 'max', 'AB': ', '.join})